/**** begin responsive style ****/
@media (min-width: 993px) {
    header.header {
        position: sticky;
        top: 0;
        z-index: 99999;
    }
    header .logo-wrapper {
        max-width: 250px;
    }
    header .navbar .navbar-nav .nav-item .nav-link {
        margin-right: 15px;
        padding: 0;
        line-height: 50px;
    }
}

@media (min-width: 1200px) {
}
/**** endof responsive style ****/