:root {
    /**** begin countdown colors ****/
    --flipclock-bg-color: #121212;
    --flipclock-color: #ffffff;
    /**** endof countdown colors ****/

    /**** begin custom colors ****/
    --color-1: #001219;
    --color-2: #023e8a;
    --color-3: #0077b6;
    --color-4: #f77f00;
    --color-5: #ee9b00;
    --color-6: #f8fcff;
    --color-7: #e9d8a6;
    --color-8: #f5f5f5;
    --color-9: #f5f5f5;
    /**** endof custom colors ****/
}

/**** begin custom background colors ****/
.bg-color-1 { background-color: var(--color-1) !important; }
.bg-color-2 { background-color: var(--color-2) !important; }
.bg-color-3 { background-color: var(--color-3) !important; }
.bg-color-4 { background-color: var(--color-4) !important; }
.bg-color-5 { background-color: var(--color-5) !important; }
.bg-color-6 { background-color: var(--color-6) !important; }
.bg-color-7 { background-color: var(--color-7) !important; }
.bg-color-8 { background-color: var(--color-8) !important; }
.bg-color-9 { background-color: var(--color-9) !important; }

.bg-gradient {
    background: linear-gradient(to bottom, var(--color-5), var(--color-4));
}
/**** endof custom background colors ****/
