:root {
    --flipclock-bg-color: #ffba08;
    --flipclock-color: #03071e;
    --color-1: #001233;
    --color-2: #dee2ff;
    --color-3: #001845;
    --color-4: #023e8a;
    --color-5: #0353a4;
    --color-6: #0466c8;
    --color-7: #fcbf49;
    --color-8: #f5f5f5;
    --color-9: #f5f5f5
}

.bg-color-1 {
    background-color: var(--color-1)!important
}

.bg-color-2 {
    background-color: var(--color-2)!important
}

.bg-color-3 {
    background-color: var(--color-3)!important
}

.bg-color-4 {
    background-color: var(--color-4)!important
}

.bg-color-5 {
    background-color: var(--color-5)!important
}

.bg-color-6 {
    background-color: var(--color-6)!important
}

.bg-color-7 {
    background-color: var(--color-7)!important
}

.bg-color-8 {
    background-color: var(--color-8)!important
}

.bg-color-9 {
    background-color: var(--color-9)!important
}
