@media(min-width: 993px) {
    header .logo-wrapper {
        max-width:250px
    }

    header .navbar .navbar-nav .nav-item:first-child .nav-link {
        padding-left: 0!important
    }

    section.content-page {
        padding-top: 65px
    }
}

@media(min-width: 1200px) {
}
