:root {
    /**** begin countdown colors ****/
    --flipclock-bg-color: #ffba08;
    --flipclock-color: #03071e;
    /**** endof countdown colors ****/

    /**** begin custom colors ****/
    --color-1: #010101;
    --color-2: #6b0900;
    --color-3: #9d0208;
    --color-4: #e60000;
    --color-5: #a55306;
    --color-6: #ff9100;
    --color-7: #e6a500;
    --color-8: #ffb700;
    --color-9: #eae2b7;

    --gradient-glass: linear-gradient(75deg, #d0000085, #ffb90896);
    --gradient-1: radial-gradient(circle at center, var(--color-7), var(--color-1) 80%) !important;
    --gradient-2: linear-gradient(to bottom, var(--color-8), var(--color-6)) !important;
    --gradient-3: radial-gradient(circle at center, var(--color-3), var(--color-1) 80%) !important;
    --gradient-4: linear-gradient(to bottom, var(--color-4), var(--color-2)) !important;
    --gradient-5: radial-gradient(circle at center, var(--color-7), var(--color-5) 80%) !important;
    /**** endof custom colors ****/
}

/**** begin custom background colors ****/
.bg-color-1 { background-color: var(--color-1) !important; }
.bg-color-2 { background-color: var(--color-2) !important; }
.bg-color-3 { background-color: var(--color-3) !important; }
.bg-color-4 { background-color: var(--color-4) !important; }
.bg-color-5 { background-color: var(--color-5) !important; }
.bg-color-6 { background-color: var(--color-6) !important; }
.bg-color-7 { background-color: var(--color-7) !important; }
.bg-color-8 { background-color: var(--color-8) !important; }
.bg-color-9 { background-color: var(--color-9) !important; }



.bg-gradient-glass {
    background-color: transparent;
    background-image: var(--gradient-glass);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.bg-gradient-1 { background-image: var(--gradient-1) !important; }
.bg-gradient-2 { background-image: var(--gradient-2) !important; }
.bg-gradient-3 { background-image: var(--gradient-3) !important; }
.bg-gradient-4 { background-image: var(--gradient-4) !important; }
.bg-gradient-5 { background-image: var(--gradient-5) !important; }
/**** endof custom background colors ****/

.badge.badge-dark { background-color: var(--color-1) !important; }
