:root {
    /**** begin countdown colors ****/
    --flipclock-bg-color: #d00000;
    --flipclock-color: #eae2b7;
    /**** endof countdown colors ****/

    /**** begin custom colors ****/
    --color-1: #03071e;
    --color-2: #eae2b7;
    --color-3: #f5b33a;
    --color-4: #9d0208;
    --color-5: #d00000;
    --color-6: #001845;
    --color-7: #023e7d;
    --color-8: #0466c8;
    --color-9: #e5e5e5;
    /**** endof custom colors ****/
}

/**** begin custom background colors ****/
.bg-color-1 { background-color: var(--color-1) !important; }
.bg-color-2 { background-color: var(--color-2) !important; }
.bg-color-3 { background-color: var(--color-3) !important; }
.bg-color-4 { background-color: var(--color-4) !important; }
.bg-color-5 { background-color: var(--color-5) !important; }
.bg-color-6 { background-color: var(--color-6) !important; }
.bg-color-7 { background-color: var(--color-7) !important; }
.bg-color-8 { background-color: var(--color-8) !important; }
.bg-color-9 { background-color: var(--color-9) !important; }
/**** endof custom background colors ****/



/**** begin custom text colors ****/
.text-black { color: var(--color-6) !important; }
/**** endof custom text colors ****/
