/**** begin countdown colors ****/
.flip-clock-wrapper ul,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-divider .flip-clock-dot {
	background-color: var(--flipclock-bg-color);
}
.flip-clock-wrapper ul li a div div.inn {
	color: var(--flipclock-color);
}
/**** endof countdown colors ****/

/**** begin custom style ****/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
}

button {
    outline: none !important;
}

hr {
    border-width: 5px;
    border-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

header {
    display: block;
    position: relative;
}
header .logo-box {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
    padding: 20px 0;
}
header .logo-box .web-logo {
    width: 100%;
}
header .navbar.navbar-main {
    background: transparent;
}
header .navbar.navbar-main .navbar-nav .nav-item {
    margin-right: 10px;
}
header .navbar.navbar-main .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
header .navbar.navbar-main .navbar-nav .nav-item .nav-link {
    min-width: 90px;
    padding: 0 10px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px 12px 0 0;
    background-color: var(--color-7);
    color: var(--color-2);
    text-transform: uppercase;
}
header .navbar.navbar-main .navbar-nav .nav-item.active .nav-link,
header .navbar.navbar-main .navbar-nav .nav-item .nav-link:hover {
    background-color: var(--color-2);
    color: var(--color-8) !important;
}

section {
    display: block;
    position: relative;
}
section .card.card-banner {
    max-width: 450px;
}
section .card.card-banner,
section .card.card-banner .card-body {
    border-radius: 12px;
}
section .card.card-banner .card-body .banner-img {
    position: relative;
    padding: 6px;
    border-radius: 12px;
    max-width: 40px;
}
section .card.card-banner .card-body .banner-txt h5 {
    font-size: 12px;
}
section .card.card-banner .card-body .banner-txt p {
    line-height: 1 !important;
}

footer {
    display: block;
    position: relative;
}

.pagination .paginate_button a {
    outline: none !important;
    background-color: var(--color-7) !important;
    border-color: var(--color-6) !important;
    box-shadow: none !important;
    color: var(--color-2) !important;
}
.pagination .paginate_button.active a {
    outline: none !important;
    background-color: var(--color-5) !important;
    border-color: var(--color-4) !important;
    box-shadow: none !important;
    color: var(--color-8) !important;
}
/**** endof custom style ****/