/**** begin card style ****/
section .winner-box .winner-content {
    padding: 10px 0;
    background-image: linear-gradient(to right, transparent, #6a040e6e, #9d0208, #d00000, #d00000, #d00000, #9d0208, #6a040e6e, transparent);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right, transparent, #ffffff28, #ffffffaf, #ffffffaf, #ffffffaf, #ffffffaf, #ffffffaf, #ffffff28, transparent);
    border-image-slice: 1;
}
section .winner-box .winner-content .winner-title {
    color: var(--color-2) !important;
    font-size: 40px;
}
section .winner-box .winner-content .winner-subtitle {
    color: var(--color-9) !important;
    font-size: 28px;
}


.card.card-result {
    border-radius: 12px;
}
.card.card-result .card-body {
    border-radius: 10px;
}


.prize-wrapper .prize-block {
    position: relative;
    display: inline-block;
    margin: 0 0.5px;
    width: 35px;
    height: 35px;
    background-color: var(--color-1);
    border: 2px solid var(--color-2);
    border-radius: 50px;
    padding: 2.5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.65);
}
.prize-wrapper .prize-block.winner {
    margin: 0 0.5px;
    width: 45px;
    height: 45px;
    padding: 2.5px;
    background-color: var(--color-7);
}
.prize-wrapper .prize-block.mini {
    margin: 0 1.5px;
    width: 30px;
    height: 30px;
    padding: 1.5px;
}
.prize-wrapper .prize-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 16px;
    height: 8px;
    margin: 0 auto;
    background-color: rgba(225, 225, 225, 0.45);
    border-radius: 50px;
}
.prize-wrapper .prize-block.mini:after {
    width: 10px;
}
.prize-wrapper .prize-block:before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    width: auto;
    height: 6px;
    border-radius: 50%;
    background-color: #07133080;
    filter: blur(3px);
}
.prize-wrapper .prize-block .prize-digit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--color-9);
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.prize-wrapper .prize-block.winner .prize-digit {
    color: var(--color-2);
    font-size: 22px;
}
.prize-wrapper .prize-block.mini .prize-digit {
    font-size: 16px;
}

.result-title {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--color-3);
    z-index: 0;
}
.result-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: var(--color-3);
    transform: rotate(-25deg);
}
.result-title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: var(--color-3);
    transform: rotate(25deg);
}
.result-title h5 {
    display: block;
    position: relative;
    line-height: 50px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 99;
}

.result-container {
    display: block;
    position: relative;
    padding: 10px 15px;
    z-index: 0;
}
.result-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: var(--color-5);
    transform: skewX(-20deg);
}
.result-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: var(--color-4);
    transform: skewX(20deg);
    z-index: -1;
}
.result-container .prize-wrapper {
    z-index: 999;
}

.prize-title {
    display: block;
    position: relative;
    padding: 10px 20px;
    min-width: 245px;
}
/**** endof card style ****/