/**** begin countdown colors ****/
.flip-clock-wrapper ul,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-divider .flip-clock-dot {
	background-color: var(--flipclock-bg-color);
}
.flip-clock-wrapper ul li a div div.inn {
	color: var(--flipclock-color);
}
/**** endof countdown colors ****/

/**** begin custom style ****/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
}

button {
    outline: none !important;
}

hr {
    border-width: 5px;
    border-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

header {
    display: block;
    position: relative;
}
header .logo-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}
header .logo-wrapper .web-logo {
    width: 100%;
}
header .menu-wrapper {
    display: block;
    position: relative;
}
header .menu-wrapper .navbar .navbar-nav .nav-item {
    margin-bottom: 10px;
    padding: 8px 15px;
    background-color: var(--color-7);
    transform: skewX(20deg);
}
header .menu-wrapper .navbar .navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: var(--color-8);
    transform: skewX(-40deg);
    z-index: -1;
}
header .menu-wrapper .navbar .navbar-nav .nav-item:last-child {
    margin-bottom: 0;
}
header .menu-wrapper .navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
    color: var(--color-6);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    transform: skewX(-20deg);
}

section {
    display: block;
    position: relative;
}
section .card.card-banner {
    max-width: 450px;
}
section .card.card-banner,
section .card.card-banner .card-body {
    border-radius: 12px;
}
section .card.card-banner .card-body .banner-img {
    position: relative;
    padding: 6px;
    border-radius: 12px;
    max-width: 40px;
}
section .card.card-banner .card-body .banner-txt h5 {
    font-size: 12px;
}
section .card.card-banner .card-body .banner-txt p {
    line-height: 1 !important;
}

footer {
    display: block;
    position: relative;
}
footer hr {
    display: block;
    position: relative;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 50px;
}
footer .logo-wrapper {
    position: relative;
    max-width: 200px;
}
footer .logo-wrapper .web-logo {
    width: 100%;
}

.pagination .paginate_button a {
    background-color: var(--color-2) !important;
    border-color: var(--color-2) !important;
    box-shadow: none !important;
    color: var(--color-5) !important;
    outline: none !important;
}
.pagination .paginate_button.active a {
    background-color: var(--color-3) !important;
    border-color: var(--color-3) !important;
    box-shadow: none !important;
    color: var(--color-9) !important;
    outline: none !important;
}
/**** endof custom style ****/