/**** begin responsive style ****/
@media (min-width: 993px) {
    header .logo-wrapper {
        max-width: 300px;
    }
    header .navbar .navbar-nav .nav-item.active .nav-link {
        color: var(--color-1);
    }
    header .menu-wrapper .navbar .navbar-nav .nav-item {
        margin-right: 40px;
        margin-bottom: 0;
    }
    header .menu-wrapper .navbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
    header .menu-wrapper .navbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    section .winner-box .winner-content .winner-title {
        font-size: 50px;
    }
    section .winner-box .winner-content .winner-subtitle {
        font-size: 32px;
    }
    section .winner-box.history .winner-content .winner-title {
        font-size: 40px;
    }
    section .winner-box.history .winner-content .winner-subtitle {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
}
/**** endof responsive style ****/