/**** begin responsive style ****/
@media (min-width: 993px) {
    header .navbar .navbar-nav .nav-item .nav-link {
        margin-right: 15px;
        padding: 0;
        line-height: 50px;
    }

    section .logo-wrapper {
        max-width: 200px;
    }
}

@media (min-width: 1200px) {
}
/**** endof responsive style ****/