:root {
    /**** begin countdown colors ****/
    --flipclock-bg-color: #ff0000;
    --flipclock-color: #f5f5f5;
    /**** endof countdown colors ****/

    /**** begin custom colors ****/
    --color-1: #0b0b0b;
    --color-2: #003e00;
    --color-3: #007200;
    --color-4: #13df00;
    --color-5: #50030a;
    --color-6: #9d0208;
    --color-7: #ff0000;
    --color-8: #f5f5f5;
    --color-9: #f5f5f5;

    --gradient-1: linear-gradient(to right, transparent, var(--color-5), var(--color-6), var(--color-5), transparent) !important;
    --gradient-2: linear-gradient(to bottom, var(--color-4), var(--color-2)) !important;
    --gradient-3: linear-gradient(to bottom, var(--color-7), var(--color-5)) !important;
    /**** endof custom colors ****/
}

/**** begin custom background colors ****/
.bg-color-1 { background-color: var(--color-1) !important; }
.bg-color-2 { background-color: var(--color-2) !important; }
.bg-color-3 { background-color: var(--color-3) !important; }
.bg-color-4 { background-color: var(--color-4) !important; }
.bg-color-5 { background-color: var(--color-5) !important; }
.bg-color-6 { background-color: var(--color-6) !important; }
.bg-color-7 { background-color: var(--color-7) !important; }
.bg-color-8 { background-color: var(--color-8) !important; }
.bg-color-9 { background-color: var(--color-9) !important; }

.bg-gradient-1 { background-image: var(--gradient-1) !important; }
.bg-gradient-2 { background-image: var(--gradient-2) !important; }
.bg-gradient-3 { background-image: var(--gradient-3) !important; }
/**** endof custom background colors ****/
